hr {
	width: 50%;
	margin-top: 3px;
	margin-left: 20px;
	border-color: #2A9E4A;
	background-color: #2A9E4A;
}

p, li, div {
	padding: 3px;
	color: #75E287;
	font-size: 14px;
	margin-left: 25px;
	margin-bottom: 10px;
	font-family: "Lucida Console", monospace;
}

canvas {
	top: 0;
	left: 0;
	z-index: -1;
	display: block;
	position: fixed;
}

a {
	color: #845ED2;
	text-decoration-style: none;
}

body {
	background-color: #101010;
}

#title {
	width: 18ch;
	font-size: 24px;
}

#desc {
	display: none;
	padding-left: 15px;
}

.typewrite > .wrap {
	padding-right: 8px;
	border-right: 0.08em solid #75E287;
}
